<a href="https://colab.research.google.com/github/depknaraynscientist/Data_Science/blob/main/ML_ZoomCamp_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1 :

In [3]:
import numpy as np
np.__version__

'1.19.5'

In [4]:
import pandas as pd
pd.__version__

'1.1.5'

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [34]:
df.head()
df['Make'].unique()
criteria = (df['Make'] == "BMW")
df.loc[criteria, 'MSRP'].mean()

61546.76347305389

In [21]:
criteria = (df['Year'] >= 2015)
subset = df.loc[criteria, :]
#subset.info()
#Out of 5995 rows, 5995-5944 missing values = 51 missing
sum(subset['Engine HP'].isna())

51

In [29]:
avg1 = df['Engine HP'].mean()
print(avg1)
df['Engine HP'].fillna(avg1)
avg2 = df['Engine HP'].mean()
print(avg2)
#Same if we do not use skipna=False.
print(round(avg1), round(avg2))
#Same after rounding.

249.38607007176023
249.38607007176023
249 249

In [63]:
criteria_6 = (df['Make'] == "Rolls-Royce")
subset_6 = df.loc[criteria_6, ["Engine HP", "Engine Cylinders", "highway MPG"]]
X = subset_6.drop_duplicates().to_numpy()
#type(X)
XTX = np.dot(X.T, X)
inv_XTX = np.linalg.inv(XTX)
print(sum(XTX.reshape(-1,1)))

[1970887.]

In [56]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
result = np.dot(inv_XTX, X.T)
result = np.dot(result, y)
print(result)

[ 0.19989598 31.02612262 31.65378877]

In [31]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')