<a href="https://colab.research.google.com/github/depknaraynscientist/Data_Science/blob/main/ML_Zoomcamp_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
data = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv"

In [18]:
!wget $data -O "input"

--2021-09-27 13:16:01--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7077973 (6.8M) [text/plain]
Saving to: ‘input’

input               100%[===================>]   6.75M  --.-KB/s    in 0.06s

2021-09-27 13:16:02 (110 MB/s) - ‘input’ saved [7077973/7077973]

In [19]:
import pandas as pd

In [20]:
nyc = pd.read_csv("input")
nyc.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [21]:
nyc.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [22]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [23]:
features = ['neighbourhood_group',
'room_type',
'latitude',
'longitude',
'price',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365'
]

In [28]:
for i in features:
  print(nyc[i].isnull().sum())

#missing values in reviews_per_month : 10052

0
0
0
0
0
0
0
10052
0
0

In [29]:
nyc.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [30]:
nyc = nyc.loc[:, features]
nyc.head()

  neighbourhood_group  ... availability_365
0            Brooklyn  ...              365
1           Manhattan  ...              355
2           Manhattan  ...              365
3            Brooklyn  ...              194
4           Manhattan  ...                0

[5 rows x 10 columns]

In [32]:
len(nyc.columns)

10

In [33]:
nyc.fillna(0, axis =1, inplace=True)

In [34]:
nyc.isnull().sum()

neighbourhood_group               0
room_type                         0
latitude                          0
longitude                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [36]:
#Qn 1
nyc['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
y = nyc['price']
del nyc['price']
y

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [41]:
X = nyc

In [42]:
X_1, X_test, y_1, y_test = train_test_split(X, y, random_state=42, test_size = 0.2)

In [49]:
X_test

      neighbourhood_group  ... availability_365
879              Brooklyn  ...              189
44383              Queens  ...               73
15394           Manhattan  ...                0
43230           Manhattan  ...              272
16332           Manhattan  ...               30
...                   ...  ...              ...
20477           Manhattan  ...               68
44969           Manhattan  ...              294
36577              Queens  ...                5
11477           Manhattan  ...                0
1023            Manhattan  ...              364

[9779 rows x 9 columns]

In [64]:
round(0.2/0.8, 2)

0.25

In [65]:
X_train, X_val, y_train, y_val = train_test_split(X_1, y_1, test_size = 0.25, random_state=42)

In [66]:
X_train

      neighbourhood_group  ... availability_365
13575            Brooklyn  ...               50
48476           Manhattan  ...                7
44499               Bronx  ...                0
17382            Brooklyn  ...                0
14638           Manhattan  ...               67
...                   ...  ...              ...
13198            Brooklyn  ...                0
14583            Brooklyn  ...                0
6168            Manhattan  ...               88
12248            Brooklyn  ...                0
20523            Brooklyn  ...              281

[29337 rows x 9 columns]

In [67]:
X_train.reset_index(inplace=True, drop = True)
X_train

      neighbourhood_group  ... availability_365
0                Brooklyn  ...               50
1               Manhattan  ...                7
2                   Bronx  ...                0
3                Brooklyn  ...                0
4               Manhattan  ...               67
...                   ...  ...              ...
29332            Brooklyn  ...                0
29333            Brooklyn  ...                0
29334           Manhattan  ...               88
29335            Brooklyn  ...                0
29336            Brooklyn  ...              281

[29337 rows x 9 columns]

In [80]:
X_val.reset_index(inplace=True, drop = True)
X_test.reset_index(inplace=True, drop = True)

In [81]:
y_train

0         99
1         57
2         70
3        130
4        110
        ...
29332     50
29333    125
29334    299
29335     65
29336     92
Name: price, Length: 29337, dtype: int64

In [79]:
y_train.reset_index(inplace=True, drop = True)

In [83]:
y_val.reset_index(inplace=True, drop = True)
y_test.reset_index(inplace=True, drop = True)

In [84]:
y_val

0        65
1        89
2       200
3       120
4       748
       ...
9774    300
9775     28
9776     39
9777     70
9778     77
Name: price, Length: 9779, dtype: int64

In [85]:
print((len(X_val) + len(X_train) + len(X_test))* 0.6, len(X_train), len(X_val), len(X_test))

29337.0 29337 9779 9779

In [86]:
#Qn 2:
type(X_train)

pandas.core.frame.DataFrame

In [87]:
type(y_train)

pandas.core.series.Series

In [88]:
data_train = pd.concat([X_train,y_train], axis=1)
data_train

      neighbourhood_group        room_type  ...  availability_365  price
0                Brooklyn  Entire home/apt  ...                50     99
1               Manhattan     Private room  ...                 7     57
2                   Bronx  Entire home/apt  ...                 0     70
3                Brooklyn  Entire home/apt  ...                 0    130
4               Manhattan     Private room  ...                67    110
...                   ...              ...  ...               ...    ...
29332            Brooklyn     Private room  ...                 0     50
29333            Brooklyn     Private room  ...                 0    125
29334           Manhattan     Private room  ...                88    299
29335            Brooklyn     Private room  ...                 0     65
29336            Brooklyn  Entire home/apt  ...               281     92

[29337 rows x 10 columns]

In [105]:
corr_matrix = data_train.corr()

In [106]:
corr_matrix

                                latitude  longitude  ...  availability_365     price
latitude                        1.000000   0.080301  ...         -0.005891  0.035428
longitude                       0.080301   1.000000  ...          0.083666 -0.146318
minimum_nights                  0.027441  -0.060660  ...          0.138901  0.046668
number_of_reviews              -0.006246   0.055084  ...          0.174477 -0.048225
reviews_per_month              -0.007159   0.134642  ...          0.165376 -0.052908
calculated_host_listings_count  0.019375  -0.117041  ...          0.225913  0.053746
availability_365               -0.005891   0.083666  ...          1.000000  0.080121
price                           0.035428  -0.146318  ...          0.080121  1.000000

[8 rows x 8 columns]

In [112]:
above_average_train = (y_train >= 152).astype(int)
above_average_val = (y_val >= 152).astype(int)
above_average_test = (y_test >= 152).astype(int)

In [118]:
data_train['above_average'] = above_average_train

In [120]:
del data_train['price']

In [122]:
#data_train,above_average_train, above_average_val, above_average_test : binary values for target
#y_train, y_test, y_val,  : has continuous

In [116]:
#for score between categorical variables
from sklearn.metrics import mutual_info_score

In [ ]:
mutual_info_score(df[''])

In [123]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29337 entries, 0 to 29336
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             29337 non-null  object
 1   room_type                       29337 non-null  object
 2   latitude                        29337 non-null  float64
 3   longitude                       29337 non-null  float64
 4   minimum_nights                  29337 non-null  int64
 5   number_of_reviews               29337 non-null  int64
 6   reviews_per_month               29337 non-null  float64
 7   calculated_host_listings_count  29337 non-null  int64
 8   availability_365                29337 non-null  int64
 9   above_average                   29337 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 2.2+ MB

In [124]:
for i in data_train.columns:
  print(data_train[i].nunique())

5
3
15246
12052
93
354
860
47
366
2

In [126]:
print(round(mutual_info_score(data_train['above_average'], data_train['neighbourhood_group']),2))
print(round(mutual_info_score(data_train['above_average'], data_train['room_type']),2))

0.05
0.14

In [128]:
#Qn4
from sklearn.feature_extraction import DictVectorizer

In [129]:
train_dict = X_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
X_train_final = dv.fit_transform(train_dict)

In [132]:
X_train_final[0]

array([ 50.     ,  13.     ,  40.7276 , -73.94495,   3.     ,   0.     ,
         1.     ,   0.     ,   0.     ,   0.     ,  29.     ,   0.7    ,
         1.     ,   0.     ,   0.     ])

In [131]:
  X_train

      neighbourhood_group  ... availability_365
0                Brooklyn  ...               50
1               Manhattan  ...                7
2                   Bronx  ...                0
3                Brooklyn  ...                0
4               Manhattan  ...               67
...                   ...  ...              ...
29332            Brooklyn  ...                0
29333            Brooklyn  ...                0
29334           Manhattan  ...               88
29335            Brooklyn  ...                0
29336            Brooklyn  ...              281

[29337 rows x 9 columns]